<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NinerRiders</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'static/styles/main.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}



    {% endblock %}
    
    <style>
        .bottom-nav {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-around;
            padding: 1rem 0;
            z-index: 1000;
        }
        .bottom-nav a {
            color: #00796b;
            font-weight: 600;
        }
        </style>
        
        <div class="bottom-nav">
            <a href="#">Messages</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="#">Rides</a>
        </div>
        
</body>
</html>